<%= render partial: "shared/menu" %>
<%= render partial: "shared/user-header"%>
<div class="o-section">
  <div class="o-site-wrap o-site-wrap--padding">
  <div class="o-soft-md">
    <h1 class="u-soft-md u-text-center">Here are your current CV:s</h1>
  </div>
  </div>
</div>
<div class="o-section u-push-top-md">
  <div class="o-site-wrap">
    <div class="o-site-wrap--padding">
    <div class="u-margin-auto">
    <div class="o-grid o-grid--gutter-md o-grid--matrix">
    <% $i=0%>
    <% while $i< 3%>
     <div class="o-grid__item u-1/2@xs u-1/3@sm u-1/4@md">
        <div class="c-cv-display-card js-cv-display-card">
          
          <fig class="c-cv-display-card__body">
              <%if $i==0 %>
              <%= image_tag 'cv-arvid-mini.png'%>
              <%end %>
              <%if ($i==1) %>
              <%= image_tag 'cv-olof-mini.png'%>
              <% end %>
               <%if $i==2 %>
              <%= image_tag 'cv-joe-bloggs-mini.png'%>
              <% end %>
          </fig>
          <div class="c-cv-display-card__overlay">
            <h2>Alfa laval cv</h2>
            <a href="#" class="c-btn c-btn--alpha c-btn--sm u-no-underline">Edit</a>
             <a href="#" class="c-btn c-btn--warning c-btn--sm u-no-underline">Delete</a>
          </div>
      
        </div>
      </div>
      <% $i+=1%>
    <% end %>
     <div class="o-grid__item u-1/2@xs u-1/3@sm u-1/4@md">
       <div class="c-cv-display-card js-cv-display-card u-border-dashed">
      <a class="u-no-underline u-txt-light" href="">
       <div class="c-cv-display-card__body--empty">
       <h3>New CV</h3>
       <div class="c-cv-display-card__overlay--new">
       <div class="plus-sign">
       +
       </div>
       </div>
       </div>
       </a>      
     </div>
    </div>
  </div>
</div>
    </div>
  </div> 
</div>
