
<%= render partial: "shared/menu" %>
<div class="o-site-wrap o-site-padding">
<div class="o-section-md u-text-center">
  <h1>Welcome to CV-generator!</h1>
  <ul class="o-matrix-list o-matrix-list-md u-soft-md">
    <li class="o-matrix-list__item">
        <%= link_to "I want to make my CV!", new_cv_path, class: "c-btn c-btn--beta c-btn--md u-no-underline" %>
    </li>
    <li class="o-matrix-list__item">
      <%= link_to "I want to see others CV:s!", cvs_path, class: "c-btn c-btn--alpha c-btn--md u-no-underline" %>
    </li>
  </ul>
</div>
<div class="o-section-md">
<div class="c-card">
  <div class="c-card__body">
    <ul class="o-inline-list o-inline-list--spaced-md js-isotope-button-group" data-filter-group="design">
      <li class="o-inline-list__item">
        <div class="c-form-input">
              <input type="checkbox" class="c-form-input__input js-isotope-filter-button" id="alfa" name="dark-matter" value=".alfa" />
              <label for="alfa" class="c-form-input__label c-form-input__label--checkbox">Alfa</label>
        </div>
      </li>
      <li class="o-inline-list__item">
        <div class="c-form-input">
          <input type="checkbox" class="c-form-input__input js-isotope-filter-button" id="beta" name="black-hole" value=".beta" />
          <label for="beta" class="c-form-input__label c-form-input__label--checkbox">Beta</label>
        </div>
      </li>
       <li class="o-inline-list__item">
        <div class="c-form-input">
          <input type="checkbox" class="c-form-input__input js-isotope-filter-button" id="gamma" name="black-hole" value=".gamma" />
          <label for="gamma" class="c-form-input__label c-form-input__label--checkbox">Gamma</label>
        </div>
      </li>
    </ul>
  </div>
</div>
  <div>
</div>
<div class="o-section-md">
  <div class="u-margin-auto">
    <div class="o-grid o-grid--gutter-md o-grid--matrix js-isotope-grid">
    <% $i=0%>
    <% while $i< 12%>
    <%if($i<4)
        @class='alfa'
      else
        @class='beta'
      end
      if($i>7)
        @class= 'gamma'
      end
    %>
     <div class="o-grid__item u-1/2@xs u-1/3@sm u-1/6@md js-isotope-grid-item <%=@class%>">
        <div class="c-cv-display-card js-cv-display-card">
          <fig class="c-cv-display-card__body">
            <a href="">
              <%if $i<4 %>
              <%= image_tag 'cv-arvid-mini'%>
              <%end %>
              <%if ($i>=4 && $i<8) %>
              <%= image_tag 'cv-olof-mini'%>
              <% end %>
               <%if $i>=8 %>
              <%= image_tag 'cv-joe-bloggs-mini'%>
              <% end %>
            </a>
          </fig>
        </div>
      </div>
      <% $i+=1%>
    <% end %>
    </div>
  </div>
</div>
<div class="section" style="height:1000px">

</div>

</div>
