<%= form_for @cv do |f| %>
     <div class="form-group">
      <%= f.label :cv_name %>
      <%= f.text_field :cv_name, class: "form-control", value: "My Cv" %>
    </div>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control", value: @user.first_name %>
    </div>
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control", value: @user.last_name %>
    <div class="form-group">
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", value: @user.email %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>