<%= render partial: "shared/menu" %>
<%= render partial: "shared/user-header"%>
<div class="o-site-wrap o-site-wrap--padding">
<div class="o-section-md">

<h1 class="c-text-presentation u-bg-shadow--sm"><%= @cv.cv_name %></h1>

</div>
<div class="o-section-md">
  <%= form_tag({controller: "cvs", action: "get_pdf"}, method: "get" ) do %>
  <div class="o-grid o-grid--gutter-md o-grid--bottom">
    <div class="o-grid__item u-1/4@md u-1/2@sm">
      <label for="country" class="c-label">Select Cv Template</label>
      <select name='cv_selector' class="c-select c-select--sm" id="cv-template-select">
        <%= options_for_select([['Olofs Cv','olof'],['Arvids Cv','arvid'],['Johns CV','john']])%>
      </select>
    </div>
    <div class="o-grid__item u-1/3@md">
      <%= button_to "Get PDF",{}, {class: "c-btn c-btn--beta c-btn--sm u-no-underline"} %>
    </div>
   
  </div>
  <% end %>

</div>
<div class="o-section-md">
<div class="c-tabs">
  <div class="c-tabs__list-wrapper">
    <div class="c-tabs__list" role="tablist">
      <button class="c-tabs__tab js-form-tab is-active" data-panel="panel-1">Tab 1</button>
      <button class="c-tabs__tab js-form-tab" data-panel="panel-2">Tab 2</button>
      <button class="c-tabs__tab js-form-tab" data-panel="panel-3">Tab 3</button>
      <button class="c-tabs__tab js-form-tab " data-panel="panel-4" >Tab 4</button>
      <button class="c-tabs__tab js-form-tab" data-panel="panel-5">Tab 5</button>
    </div>
  </div>

  <div id="panel-1" class="c-tabs__panel js-panel is-visible  u-bg-shadow--sm u-bg-shadow--sm--hover" >
    <div class="o-soft-md">
    <h3>Experiences</h3>
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
    <% end %>
  
   
  
    <div class="u-soft-md">
      <%= form_for [@cv,@experience] do |f| %>
      <div class="o-grid o-grid--gutter-md">
        <div class="o-grid__item u-2/5@md">
          
          <%= f.label :company, 'Company', class: "c-label" %>
          <%= f.text_field :company,  placeholder: "Apple Inc.", class: "c-text-input c-text-input--sm"%>
        
        </div>
        <div class="o-grid__item u-1/5@md">
          <%= f.label :start_date, 'Start Date', class: "c-label" %>
          <%= f.date_field :start_date, class: "c-text-input c-text-input--sm" %>
        </div>
        <div class="o-grid__item u-1/5@md">
          <%= f.label :end_date, 'End Date', class: "c-label" %>
          <%= f.date_field :end_date, class: "c-text-input c-text-input--sm" %>
        </div>
        <div class="o-grid__item u-soft-top-md u-3/5@md">
          <%= f.label :description, 'Description', class: "c-label" %>
          <%= f.text_area :description,  placeholder: "What you did at this job etc..", class: "c-text-input c-text-input--textarea" %>
        </div>
      </div>
    </div>
    </div>
    <div class="u-soft-md">
  
       <%= f.submit "Add Experience", class: "c-btn c-btn--alpha c-btn--sm u-no-underline" %>
    </div>
    <% end %>
    <div class="u-push-bottom-md u-push-top-md">
      <%= render 'table', table: [@experiences] %>
    </div>  
  </div>
   <div id="panel-2" class="c-tabs__panel js-panel u-bg-shadow--sm u-bg-shadow--sm--hover" >

   <%= render 'form_user', form_user: @cv%>

 
   </div>
  <% $i=2 %>
  <% while $i<6 %>
  <div id="panel-<%=$i%>" class="c-tabs__panel js-panel u-bg-shadow--sm u-bg-shadow--sm--hover" >Panel <%=$i%> Content</div>
  <% $i=$i+1 %>
  <% end %>

</div>
</div>
</div>