<h1>CV in this database</h1>
<div class="well">
  <%= link_to "New Person", new_cv_path, class: "btn btn-primary" %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<%= pluralize(2,"news") %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Personal Letter</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% if @cvs.size == 0 %>
      <tr>
        <td colspan="6">No Cv:s found.</td>
      </tr>
    <% else %>
      <% @cvs.each do |cv| %>
        <tr>
          <td><%= cv.first_name %></td>
          <td><%= cv.last_name %></td>
          <td><%= cv.email %></td>
          <td><%= cv.personal_letter %></td>       
          <td>
          <%= link_to "Show", cv_path(cv), class: "btn btn-default" %>
        </td>
          <td>
            <%= button_to "Delete", cv, method: :delete, data: { confirm: "Are you sure you wish to delete the CV of #{cv.first_name} #{cv.last_name}?" }, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>