<%= render partial: "shared/menu" %>

<%= render partial: "shared/user-header"%>
<div class="o-section">
  <div class="o-site-wrap o-site-wrap--padding">
  <div class="o-soft-md">
  <% if !@cvs.exists?%>
    <h1 class="u-soft-md u-text-center">Looks empty!</h1>
    <p>Try creating a new CV by pressing the New button below.</p>
  <%else%>
    <h1 class="u-soft-md u-text-center">Here are your current CV:s</h1>
  <%end%>
  </div>
  </div>
</div>
<div class="o-section">
</div>
<div class="o-section u-push-top-md">
  <div class="o-site-wrap">
    <div class="o-site-wrap--padding">
    <div class="u-margin-auto">
    <div class="o-grid o-grid--gutter-md o-grid--matrix">
    <% $i=0%>
     <% @cvs.each do |cv| %>
      <div class="o-grid__item u-1/2@xs u-1/3@sm u-1/4@md">
       <div class="c-cv-display-card js-cv-display-card">
    
       <div style="background-color: #2D8665" class="c-cv-display-card__body--empty">
       <h3><%= cv.cv_name %></h3>
       <a class="c-btn c-btn--alpha c-btn--sm u-no-underline" href="<%= edit_cv_path(cv) %>">Edit</a>
       <%= link_to 'Get pdf', get_pdf_cv_path(cv), method: 'get', class: "c-btn c-btn--beta c-btn--sm u-no-underline" %>
       </div>
     </div>
    </div>
    <% end %>
     <div class="o-grid__item u-1/2@xs u-1/3@sm u-1/4@md">
       <div class="c-cv-display-card u-border-dashed">
      <a class="u-no-underline u-txt-light" href="<%= new_cv_path(@cv) %>">
       <div class="c-cv-display-card__body--empty">
       <h3>New CV</h3>
       <div class="c-cv-display-card__overlay--new">
       <div class="plus-sign">
       +
       </div>
       </div>
       </div>
       </a>      
     </div>
    </div>
  </div>
</div>
    </div>
  </div> 
</div>
