
<%= simple_form_for [@cv, @education] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :school %>
    <%= f.input :subject %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
