<h1>Educations</h1>
<div class="well">
<%= link_to "Back to CV overview", cvs_path ,class:"btn btn-primary"%>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>School</th>
      <th>Subject</th>
      <th>Description</th>
      <th>Remove </th>
           
    </tr>
  </thead>
  <tbody>
    <% if @educations.size == 0 %>
      <tr>
        <td colspan="6">No experiences found.</td>
      </tr>
    <% else %>
      <% @educations.each do |ed| %>
        <tr>
          <td><%= ed.school %></td>
          <td><%= ed.subject %></td>
          <td><%= ed.description %></td>
          <td><%= button_to "Delete", education_path(ed) , method: :delete,
          data: { confirm: "Are you sure you wish to delete this education?" }, class: "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>